@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');
.card {
  box-shadow: 0 4px 8px 0 rgba(255,112,87);
  transition: 0.3s;
  width: 500px;
  padding: 24px;
  margin-left: 400px; 
  margin-top: 50px;
  
  }  

img{
  width: 500px;
}
  @media (max-width: 600px) {
    .card{
      direction: column;
    } 
} 
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(255,112,87); 
  
  } 
  .card{
    display: inline-block;
  }
  
  .container {
    padding: 2px 16px; 
 
  } 
  .Details{
    font-size: medium; 
    font-style:oblique;
  } 
  H1{
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
    font-size: 40px; 
    
  } 